* {
  margin: 0;
  padding: 0;
}

.form .true {
  color: green;
}

.form .erro {
  color: red;
}

body {
  font-family: "Microsoft YaHei", SimHei, "微软雅黑", "黑体";
  line-height: 1.6;
}

.zc {
  background: #f7f7f7;
  padding-top: 35px;
  padding-bottom: 40px;
}

.zhuce {
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px #d7d7d7 solid;
  width: 1000px;
  text-align: left;
  margin: 0px auto;
}



.zhuce .title {
  position: relative;
  /* padding: 20px 0 20px 25px; */
  margin-top: 20px;
  margin-left: 25px;
  font-size: 20px;
  color: #474747;
  line-height: 1.6;
}

.zhuce .title:after {
  background: #fe5341;
  content: "";
  position: absolute;
  display: block;
  width: 6px;
  height: 25px;
  left: -25px;
  top: 4px;
}

.nr {
  width: 100%;
}

.nr .form {
  width: 530px;
  margin: 0px auto 150px;
  margin-left: 300px;
  /* background-color: cadetblue; */
  position: relative;
}

.form p {
  padding-top: 27px;
}

.form input {
  background-color: rgb(217, 216, 216);
  color: #a3a3a3;
  height: 50px;
  padding-left: 10px;
  width: 350px;
  outline: none;
  box-sizing: border-box;
  font-size: 14px;
  border: 1px #eee solid;
  border-radius: 10px;
}

.form span {
  color: rgb(0, 0, 0);
  font-size: 12px;
  width: 200px;
  height: 55px;
  position: absolute;
  left: 361px;
  line-height: 55px;
  text-indent: 5px;
  font-size: 13px;
  font-weight: 600;
}

.form span:nth-of-type(1) {
  top: 22px;
}

.form span:nth-of-type(2) {
  top: 104px;
}

.form span:nth-of-type(3) {
  top: 177px;
}

.form span:nth-of-type(4) {
  top: 252px;
}

.form span:nth-of-type(5) {
  top: 330px;
}

.form span:nth-of-type(6) {
  top: 408px;
}

.form img {
  position: absolute;
  left: 218px;
  top: 118px;
}

.form p:nth-of-type(3) {
  position: relative;
}

.form p:nth-of-type(2) input {
  width: 195px;
}

.form p:nth-of-type(3) input {
  width: 195px;
}

/* .form p:nth-of-type(2) img {
  position: absolute;
  bottom: 0;
  left: 217px;
} */

.form p:nth-of-type(3) .yzbtn {
  position: absolute;
  bottom: 0px;
  left: 218px;
  color: #a3a3a3;
}

.form p:nth-of-type(3) .yzbtn {
  display: block;
  box-sizing: border-box;
  width: 132px;
  height: 50px;
  line-height: 50px;
  border: 1px #a3a3a3 solid;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
}

#btn {
  background: #fe5341;
  color: #fff;
  border: medium none;
  width: 350px;
  cursor: pointer;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  border-radius: 10px;
}