/* 试用-体验师-全部 */
* {
  padding: 0;
  margin: 0;
}
/* .slideshow_box {
    .continer {
        .slideshow {
            .s_content {
                em {
                    background-color: #fbf4cb;
                    color: #c4a96a;
                }
            }
        }
    }
} */
